@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
body
{
    background-color: #e1e1e1;
}
table, tr, td, th /*Need all parts of the table to have these attributes.  Well, not needed, but I like the look of the table like this.*/
{
    border-width: 3px;
    border-style: solid;
    border-right-color: #d30000;
    border-top-color: #d30000;
    border-left-color: #910000;
    border-bottom-color: #910000;
    border-collapse: collapse;
}

.menu
{
    border-style: solid;
    font-size: 40px;
    text-align: center;
    font-family: 'Michroma', sans-serif;
    border-right-color: #d30000;
    border-top-color: #d30000;
    border-left-color: #910000;
    border-bottom-color: #910000;
    background-color: white;
  
}
.menu a:hover
{
    border-style:solid;
    background-color: #d30000;
    color: white;
    border-right-color: #910000;
    border-top-color: #910000;
    border-left-color: #910000;
    border-bottom-color: #910000;
}
a
{
    color: #c99037;
}
a:visited
{
    color: #c99037;
}
h3
{
    float:left;
}
h1, h2, h3, p
{
    font-family: 'Michroma', sans-serif;
}

.frameTable
{
    border-right-color: #d30000;
    border-top-color: #d30000;
    border-left-color: #910000;
    border-bottom-color: #910000;
    background-color: rgba(255,255,255,255);
    float:left;
    height: 100px;
    /*Margins were used to align the table with the image, so that the table didn't encroach on the header's territory.*/
    margin-left: 5px;
    margin-top: 45px;
}
.frameImage
{
  float:left;
  border-style: solid;
  border-radius: 10px;
  width: 300px;
  height: 600px;
  margin-bottom: 10px;
  
}
img
{
    border-style: solid;
    border-radius: 10px;
    border-top-color: #d30000;
    border-right-color: #d30000;
    border-bottom-color: #910000;
    border-left-color: #910000;
}
.frame p
{
    float: right;
}
textarea
{
    resize: none;
}
.frameHead
{
    padding-right: 500px;
}